body {
    background-color: #ff4c68;
    text-align: center;
}

.text {
    font-size: 2rem;
    color: white;
}

#userInput {
    font-size: 4rem;
    text-align: right;
    padding-right: 8%;
    margin-top: 3.5%;
    color: white;
    
}

/* Containers */

#inputCcontainer {
    height: 100px;
    width: 490px;
    margin: 2rem auto 0 auto;
    background-color: #ef8172;
    overflow-x: scroll;
    overflow-y: hidden;
    direction: rtl;
    white-space: nowrap;
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255, 0.5);

}

.main-container {
    background-color: #ef8172;
    height: 500px;
    width: 500px;
    margin: 3% auto auto auto;
    border-radius: 55px;

}

.numbers-container {
    width: 375px;
    position: relative;
    top: 80px;
}

.header-container {
    position: absolute;

}


/* Numbers Section */

.numbers {
    border: solid 1px black;
    width: 123px;
    height: 102.5px;
    float: left;
    border: 1px solid rgb(255, 255, 255, 0.5);
}

.numbers:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

.numbers:active {
    box-shadow:1px 1px 1px rgb(255, 255, 255, 1), 0 0 0.3em rgb(255, 255, 255, 1) ;
}

.zero {
    border-bottom-left-radius: 55px;
}

/* Header Section */

.header {
    border: solid 1px black;
    width: 123px;
    height: 60px;
    padding-top: 20px;
    float: left;
    background-color: #ef8172;
    border: 1px solid rgb(255, 255, 255, 0.5);
}

.header:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

.header:active {
    box-shadow:1px 1px 1px rgb(255, 255, 255, 1), 0 0 0.3em rgb(255, 255, 255, 1) ;
}

.X {
    /* the X is to big :) */
    font-size: 1.8rem !important;
    padding-top: 25px;
    height: 55px;
}

.plus {
    border-top-left-radius: 55px;
}

.hiluk {
    border-top-right-radius: 55px;
}

/* Equal Section */
.equal {
    border: solid 1px black;
    height: 415px;
    width: 123px;
    float: right;
    position: relative;
    bottom: 233px;
    background-color: #ef8172;
    border-bottom-right-radius: 55px;
    border: 1px solid rgb(255, 255, 255, 0.5);

}

.equal:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

.equal:active {
    box-shadow:1px 1px 1px rgb(255, 255, 255, 1), 0 0 0.3em rgb(255, 255, 255, 1) ;
}

.pressed {
    box-shadow:1px 1px 1px rgb(255, 255, 255, 1), 0 0 0.3em rgb(255, 255, 255, 1) ;

}